<app-auth-container>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
    <input
      type="email"
      formControlName="email"
      placeholder="Usuário"
      [class.error]="email?.invalid && email?.touched"
    />
    @if (email?.invalid && email?.touched) {
      <span class="error-message">
        {{ getErrorMessage("email") }}
      </span>
    }

    <input
      type="password"
      formControlName="password"
      placeholder="Senha"
      [class.error]="password?.invalid && password?.touched"
    />
    @if (password?.invalid && password?.touched) {
      <span class="error-message">
        {{ getErrorMessage("password") }}
      </span>
    }

    @if (errorMessage()) {
      <div class="server-error">
        {{ errorMessage() }}
      </div>
    }

    <button type="submit" class="auth-btn-submit">Entrar</button>

    <a routerLink="/auth/reset-password" class="auth-link"
      >Esqueci minha senha</a
    >
  </form>

  <div class="auth-footer">
    <p>
      Ainda não tem cadastro?
      <a routerLink="/auth/register">Criar conta</a>
    </p>
  </div>
</app-auth-container>
